.selected{
  background: red;
  color: white;
  padding: 5px;
}
.students{
  margin: 4px;
  list-style-type: none;
  width: 250px;
  border: 2px solid red;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.students li{
  cursor: pointer;
  background-color: light-blue;
  font-size: 20px;
  border-radius: 10px;
}
.students li:hover{
  background-color: green;
  color: white;
  padding-left: 10px;
  

}
