<div>
  <ul class="students">
    <li
    *ngFor="let student of students" (click)="onSelectedStudent(student)"
    [class.selected]="student === selectedStudent">
      <span> {{ student.id }}</span> {{ student.name }}
    </li>
  </ul>
</div>





<div *ngIf='selectedStudent'>
  <h2> Details:<br>{{ selectedStudent.name }}</h2>
  <h3> Gender:<br>{{ selectedStudent.gender }}</h3>
  <div> Number:<br>{{selectedStudent.id}}</div>
  <h3>Description:<br>{{ selectedStudent.description }} </h3>
  <div>
    <input type="text"[(ngModel)]="selectedStudent.name">
    {{ selectedStudent.name }}</div>

</div>
